/* Герой */

.hero-section {
  // @media screen and (max-width: 767px) {
  padding: 118px 0px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-color: #c4c4c4;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/bgphoto1x.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/bgphoto2x.jpg);
  }

  @media screen and (min-width: 768px) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/bgpgototablet1x.jpg);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/bgpgototablet2x.jpg);
    }
  }

  @media screen and (min-width: 1200px) {
    padding: 200px 0px;
    max-width: 1600px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/bgimagedesktop1x.jpg);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/bgimagedesktop2x.jpg);
    }
  }

  &__title {
    max-width: 360px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white-text-color);
    text-transform: uppercase;

    @media screen and (min-width: 1200px) {
      max-width: 696px;

      font-weight: 900;
      font-size: 44px;
      line-height: 1.36;
    }
  }
}

.hero-section__button {
  width: 200px;
  height: 50px;
  background-color: var(--accent-color);
  color: var(--primary-bg-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color 250ms var(--timing-funcion), box-shadow 250ms var(--timing-funcion);

  &:hover,
  &:focus {
    background-color: #188ce8;
    color: var(--white-text-color);
  }
}
