:root {
  --primary-text-color: #212121;
  --description-text-color: #757575;
  --accent-color: #2196f3;
  --white-text-color: #fff;
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #2f303a;
  --bg-button-color: #f5f4fa;
  --secondary-gray-color: #afb1b8;
  --reserv-bg-color: #f5f4fa;
  --gallery-list-gap: 30px;
  --timing-funcion: cubic-bezier(0.4, 0, 0.2, 1);
  --font-family: Roboto, sans-serif;
  --secondary-font-family: 'Raleway', sans-serif;
}
